

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.contactdetail{
    width:20%;
  
}
.fromdetail{
    width: 60%;
    margin-left: 10px;
    
}

.form-control {
    display: flex;
    flex-direction: column;
    padding: 2px;
    margin-bottom: 19px;
    width: 512px;
}